.chess_piece {
	border: solid trasparent 2px;
	color:#000;
	display:block;
	min-height:47px;
	max-height:47px;
	height:47px;
	position:relative;
	left: 9px;
	text-decoration:none;
	text-shadow:01px #fff;
	min-width:47px;
	max-width:47px;
	width:47px;
}


#chess_board tr td {
	background:#fff;
	background:linear-gradient(top, #fff, #CD890A);
	background:-moz-linear-gradient(top, #fff, #CD890A);
	background:-webkit-gradient(linear,00, 0 100%, from(#fff), to(#CD890A));
	box-shadow:inset 0 0 20px #CD890A;
	-moz-box-shadow: inset 0 0 20px #CD890A;
	-webkit-box-shadow: inset 0 0 20px #CD890A;
	height:65px;
	min-height:65px;
	max-height:65px;
	text-align:center;
	vertical-align:middle;
	width:65px;
	min-width:65px;
	max-width:65px;
	
}

#chess_board{ border: 15px, solid #333; }

#chess_board tr:nth-child(odd) td:nth-child(even) {
	background:#fff;
	/*background:-moz-linear-gradient(top, #ccc, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));*/
	background:linear-gradient(top, #fff, #0B4C5F);
	background:-moz-linear-gradient(top, #fff, #0B4C5F);
	background:-webkit-gradient(linear,00, 0 100%, from(#fff), to(#0B4C5F));
	box-shadow:inset 0 0 20px #0B4C5F;
	-moz-box-shadow:inset 0 0 20px #0B4C5F;
	-webkit-box-shadow:inset 0 0 20px #0B4C5F;
}

#chess_board tr:nth-child(even) td:nth-child(odd) {
	background:#fff;
	/*background:-moz-linear-gradient(top, #ccc, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));*/
	background:linear-gradient(top, #fff, #0B4C5F);
	background:-moz-linear-gradient(top, #fff, #0B4C5F);
	background:-webkit-gradient(linear,00, 0 100%, from(#fff), to(#0B4C5F));
	box-shadow:inset 0 0 20px #0B4C5F;
	-moz-box-shadow:inset 0 0 20px #0B4C5F;
	-webkit-box-shadow:inset 0 0 20px #0B4C5F;
}
