body { padding: 70pt 0pt}

.row {
	margin-right: 0px;
	margin-left: 0px;
}



.navbar-brand{
		font-style: italic;
		font-family: "Times New Roman", Times, serif;
		font-size:250%;
}

#brandLetter {
	font-weight: bold;
}

#my_turn {
		font-style: italic;
		font-family: "Times New Roman", Times, serif, blue;
		font-size:250%;
		padding: 20px;

}


input.error, textarea.error{
	border:2px solid red;
}

input.valid, textarea.valid{
	border:2px solid green;
}


.arrow_box {
	margin-top: 15px;
	padding: 5px 5px;
	position: relative;
	border: 2px solid #F2C785;
	background: #F2C785;
	border-radius: 5px;
}


.arrow_box:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #F2C785 transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	top: -15px;
	left: 70%;
}

.form-group{
	margin-bottom: 0px;
}


@media only screen and (max-width: 1536px) {
	.tales {
	  width: 100%;
	}

	.carousel{
	  max-width: 55% !important;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
