<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    {% block css %}
    <!-- Some stuff here which should be included in all templates for example js or css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}/">
    {% endblock css %}
    
    {% block extra_css %}
    <!-- to included app-template dependent css -->
    {% endblock extra_css %}

    {% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"/></script>
    {% endblock extra_js %}

    {% block extra_head %}
    <meta charset="UTF-8">
    <!-- for anything else inside head -->
    {% endblock extra_head %}
    <title>{% block title %}Rat&oacute;n y gato{% endblock %}</title>

</head>

<body>

<!-- an icon and application name goes here -->
<header class= "navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div id="title">
                {% block atitle %}
                <a href="/server/index/"><H1 class="navbar-brand">Aplicaci&oacute;n Raton y Gato,</H1> </a>
                {% endblock atitle %}
            </div>
        </div>

        </br>
        <div id="header" class="navbar-right">
            {% block menu %}
            <!-- Default menu here -->
            {% if not username %}
            <a href="/server/login_user/" class ="btn btn-success navbar-btn">Login</a>  
            <a href="/server/register_user/" class = "btn btn-primary navbar-btn">Register</a>
            {% endif %}
            {% if username %}
            <a href="/server/index" class = "btn btn-primary navbar-btn" >Index</a>
            <a href="/server/logout_user/" class = "btn btn-danger navbar-btn">Logout</a>
                <br />
                Welcome user: {{ username }}
            {% endif %}
            {% endblock menu %}
        </div>
    </div>
</header>


<hr/>

    <div class="row">
        {% block menu_lateral %}
            <div class="col-sm-1">
                <ul id="sidebar" class="nav nav-pills nav-stacked navbar-collapse collapse">
                    <li><a href="/server/game/">Tablero</a></li>
                    <li><a href="/server/status_turn/">Turno</a></li>
                    <li><a href="/server/move/">Move</a></li>
                    <li><a href="/server/about/">about</a></li>
                    <li><a href="/server/show/">Show</a></li>
                </ul>
            </div>
            {% endblock menu_lateral %}

        <div class="col-sm-8">
            <div class="container"> 
                {% block content %}
                <div id="content" class="col-md-offset-3">
                   <div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="../../static/img/gato1.jpg" alt="Chania">
							</div>
							<div class="item">
									<img src="../../static/img/gato3.jpg" alt="Chania">
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previo</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Siguiente</span>
						</a>
					</div>
				</div>
			</div>
                {% endblock content %}
            </div>
        </div>
    </div>

<hr/>


{% block footer %}
<div id="footer" class="navbar navbar-default navbar-fixed-bottom navbar-right">
    copyrigth 2015 by ...
    <a href="/server/index">Index</a>
</div>
{% endblock footer %}

</body>
</html>
