{% extends "server/base.html" %}
{% load staticfiles %}

{% block css %}
{% endblock css %}
{% block extra_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "css/raton.css" %}"/> -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}/">
    <link rel="stylesheet" type="text/css" href="{% static "css/board.css" %}"/>
{% endblock extra_css %}

{% block extra_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="{% static "js/jquery.min.js" %}"></script> -->


<script type="text/javascript">
    final=0;
    var init = true;
    var i = 0;
    var myRefresh;
    function refresh() {
        $.ajax({
            url: '/server/status_board/', // this should grab only #table element...
            success: function (data) {
                myRefresh = setTimeout(refresh, 2000);
                if(-1<data.indexOf("Esperando raton.")){ //Al principio quizas tengamos que refrescar mas de una vez el tablero hasta que la partida sea visible para los dos adversarios.
                    $('#board').html(data);
                } else if(init) {
                    $('#board').html(data);
                    init = false;
                }
                // ...and it will insert it inside #result element
                if( -1<data.indexOf("It is your turn : True") ) {
                    if(i == 0) { //Nada mas realizado el movimiento refrescamos la pantalla y no volvemos a refrescar hasta que haya un cambio de turno.
                        $('#board').html(data);
                        i=1;
                    } 
                } else { //Comprobamos constantemente si ha habido un cambio cambio.
                    if( i== 1 ) {
                       $('#board').html(data);
                       i=0; 
                    }
                }
                if(-1<data.indexOf("isFinish: True")){
                    $('#board').html(data);
                    clearTimeout(myRefresh);
                    final=1;
                }
            }
        })
    }
</script>

<script type="text/javascript">

var lastUsed=1;
function getID(oObject)
{
    var id = oObject.id;//
    ////////////////////////alert("id=" + id);
    id = id.substr(3);
    if(final == 0 ) {
            $.ajax({
                type: "POST",
                url: "/server/move/", // this should grab only #table element.
                dataType: "json",
                data: {
                    'origin':lastUsed,
                    'target':id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',//security token
                }, 
                success: function(data){
                        if( !data.moveDone){
                            if(data.error.localeCompare("cat")==-1||data.error.localeCompare("cat")==1){
                                alert(data.error);
                            }
                        } else if( data.finish ) {
                            alert(data.wins);
                        }
                        lastUsed=id;
                        if(!data){
                            lastUsed=1;
                        }
                },
                failure: function(errMsg) {
                       alert(errMsg);
                }
            })
        }
    }
</script>
{% endblock extra_js %}

{% block content %}
    <script type="text/javascript">
        refresh();
    </script>
    <div class="col-sm-offset-3">
        <div id="board">
            <p>Esperando partida.</p>
        </div>
    </div>
    <div class="col-sm-offset-3">
        <div id="fin">
        </div>
    </div>
</div>
{% endblock content %}
