<html>
<head>
    <!-- Some stuff here which should be included in all templates for example js or css -->
    {% block extra_css %}
    <!-- to included app-template dependent css -->
    {% endblock extra_css %}

    {% block extra_js %}
    <!-- to included app-template dependent js -->
    {% endblock extra_js %}

    {% block extra_head %}
    <!-- for anything else inside head -->
    {% endblock extra_head %}
    <title>{% block title %}Rat&oacute;n & gato{% endblock %}</title>

</head>

<body>

<!-- an icon and application name goes here -->
<div id="title">
    {% block atitle %}
    <H1>Aplicaci&oacute;n rat&oacute;n & gato</H1>
    {% endblock atitle %}
</div>

<div id="header">
    {% block menu %}
    <!-- Default menu here -->
    <a href="/server/login_user/">Login</a>
    <a href="/server/register_user/">Register</a>
    {% if username %}
        <br />
        Welcome user: {{ username }}
    {% endif %}
    {% endblock menu %}
</div>


<hr/>

{% block content %}
<div id="content">
    This is good
</div>
{% endblock content %}

<hr/>

{% block footer %}
<div id="footer">
    copyrigth 2015 by ...
    <a href="/server/index">Index</a>
</div>
{% endblock footer %}

</body>
</html>
