
<!DOCTYPE html>
{% extends "server/base.html" %}
{% load staticfiles %}

<html>

    <body>
        {% block atitle %}
            <H1 class="navbar-brand">Login User</H1>
        {% endblock atitle %}
        {% block menu %} 
            <a href="/server/register_user/" class = "btn btn-success navbar-btn">Register</a>
            <a href="/server/index" class = "btn btn-primary navbar-btn" >Index</a>
        {% endblock menu %}

        {% block menu_lateral %}
        {% endblock menu_lateral %}

        {% block content %}
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }} (ID= {{ user.id }})
                    <a href="{% url 'logout_user' %}">logout_out</a></p>
            {% else %}
            <div class="container">
                <form id="login_form" class="form-horizontal" method="post" action="/server/login_user/">
                    <fieldset>
                        <legend>
                        1. Login:
                        </legend>
                    </fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-1"> Username: </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="username" value="" size="50" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-1"> Password: </label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" name="password" value="" size="50" />
                        </div>
                        <br />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-1"> Am I a cat?:</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" name="isCat" value="isCat" checked/>
                        </div>
                        <br />
                    </div>
                    {% if error %} 
                    <div class="col-sm-6 arrow_box"><label style="display: inline;" class="error" for="isCat"> {{error}} </label></div>
                    </br> </br>
                    {% else %}
                    {% endif %}

                    <br />
                    <input type="submit"  class="btn btn-success" value="submit" />
                </form>
            {% endif %}
        </div>
        {% endblock content %}

    </body>
</html>
