<!DOCTYPE html>
{% extends "server/base.html" %}
{% load staticfiles %}
{% block menu %}
{% endblock menu %}

{% block menu_lateral %}
{% endblock menu_lateral %}
{% block content %}
        <h1>Logout</h1>
        <strong>Dear {{username}} you have been logged out</strong><br />
        <a href="/server/index">Index</a>
{% endblock content %}