

<!DOCTYPE html>
{% extends "server/base.html" %}
{% load staticfiles %}

<html>


    <body>
        {% block atitle %}
            <H1 class="navbar-brand">Register User</H1>
        {% endblock atitle %}
        {% block menu %}
            <a href="/server/login_user/" class = "btn btn-success navbar-btn">Login</a>
            <a href="/server/index" class = "btn btn-primary navbar-btn" >Index</a>
        {% endblock menu %}

        {% block menu_lateral %}
        {% endblock menu_lateral %}

        </br>

        {% block content %}
            <div class="container">
                {% if registered %}
                <strong>Thank you for registering!</strong>
                <a href="/server/">Return to the homepage.</a><br />
                {% else %}
                <fieldset>
                    <legend>
                        1. Register here:
                    </legend>
                </fieldset>
                <br />

                <form id="user_form" class="form-horizontal" method="post" action="/server/register_user/">

                    {% csrf_token %}
                    {{ user_form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
                </br>
                    <input type="submit" class="btn btn-success" name="submit" value="Register" />
                </form>

                {% endif %}
            </div>
        {% endblock content %}
    </body>
</html>
