{% extends "server/base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "css/raton.css" %}"/> -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}/">
    <link rel="stylesheet" type="text/css" href="{% static "css/board.css" %}"/>
{% endblock extra_css %}

{% block extra_js %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="{% static "js/jquery.min.js" %}"></script> -->


<script type="text/javascript">

    var myRefresh;
    function refresh() {
        $.ajax({
            url: '/server/show_status_board/', // this should grab only #table element...
            success: function (data) {
                // ...and it will insert it inside #result element
                $('#board').html(data);
                myRefresh = setTimeout(refresh, 1000);
            }
        })
    }
</script>
{% endblock extra_js %}

{% block content %}

{% if thereIsAGame %}
	
	<script type="text/javascript">
        refresh();
    </script>
    <div class="col-sm-offset-3">
        <div id="board">
            <p>Esperando partida.</p>
        </div>
    </div> 

{% else %}
 
    <p>No hay todavia ninguna partida!</p>

{% endif %}

{% endblock content %}
