<!DOCTYPE html>

<html>
{% load staticfiles %}
{% if board %}
     <i id="my_turn">It is: <i>{{turn}}</i></i><br/>
    <div class="col-sm-9">
    <table id="chess_board" cellpadding="0" cellspacing="0">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id=id_{{ forloop.counter0}} onclick="getID(this);" >
            {% if item ==  0 %}
            {% elif item == 1 %}&#9922;<img class="chess_piece" src="{% static "media/tom.png" %}"> </td>
            {% else %}&#9920;<img class="chess_piece" src="{% static "media/jerry.png" %}"></td>
                {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {% endif %}
        {% endfor %}
    </table>
    </div>
    <div class= "col-md-offset-10">
    <legend>
    Informacion del juego:
    </legend>
    Game with id: {{game.id}}<br />
    players are {{game.catUser.username}} and {{game.mouseUser.username}} <br />
    with IDs {{game.catUser.id}} and {{game.mouseUser.id}} respectively<br /> <br/>
    </div>
{% else %}
    <p>Esperando Usuario Raton</p>
{% endif %}  
</html>
