<!-- counterSes: {{ counterSes }}.<br/> -->


{% if board %}
<table id="chess_board" cellpadding="0" cellspacing="0">
     It is my turn: {{myTurn}}<br/>

    {% for item in board %}
    {% if forloop.counter0|divisibleby:8 %}
        <tr>{% endif %}
            <td id=id_{{ forloop.counter0}} onclick="getID(this);" >
            {% if item ==  0 %}
            {% elif item == 1 %}  &#9922;
            {% else %}  &#9920;
           </td>
        {% if forloop.counter|divisibleby:8 or forloop.last %}
            </tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% else %}
empty board
{% endif %}
