{% extends "server/base.html" %}
{% load staticfiles %}


{% block extra_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "css/raton.css" %}"/> -->
{% endblock extra_css %}

{% block extra_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="{% static "js/jquery.min.js" %}"></script> -->

<script type="text/javascript">

    var myRefresh;
    function refresh() {
        $.ajax({
            url: '/server/status_board/', // this should grab only #table element...
            success: function (data) {
                // ...and it will insert it inside #result element
                $('#board').html(data);
                myRefresh = setTimeout(refresh, 2000);
            }
        })
    }
</script>
<script type="text/javascript">
function getID(oObject)
{
    //clearTimeout(myRefresh);
    //setTimeout(refresh, 10000)
    var id = oObject.id;//
    ////////////////////////alert("id=" + id);
    id = id.substr(3);
            $.ajax({
                type: "GET",
                url: "/server/count", // this should grab only #table element...
                success: function(data){},
                failure: function(errMsg) {
                       alert(errMsg);
                }
            })
    }
//                type: "POST",
//                url: "/server/move/", // this should grab only #table element...
//                data: {
//                       'origin':lastUsed,
//                       'target':id,
//                       'csrfmiddlewaretoken': '{{ csrf_token }}',//security token
//                       },
</script>
{% endblock extra_js %}


{% block content %}
<div>

    <script type="text/javascript">
        refresh();
    </script>
    <div id="board">
        Board goes here
    </div>
</div>
{% endblock content %}
